<!DOCTYPE html>
<html>
  <head>
    <title>Find Your Drag Name</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="fluid-container" style="overflow: hidden;">
    <header class="row">
      <div class="col-3">
        <%= link_to root_path, class: 'logo' do %>
        <div class="dragpic">
          <%= image_tag("dragqueenvector.png", height: '90') %>
        </div>
        <% end %>
      </div>
      <div class="col col-sm-4 hidden-xs-down slogan">
        For men who need a womanly touch
      </div>
      <div class="col-10 offset-1 offset-sm-0 col-sm-5 links">
        <!-- Button trigger modal -->
        <%= link_to 'Add A Name', '#', data: {toggle: 'modal', target: '#myModal'} %>
        &nbsp;&nbsp;
        <%= link_to 'About', about_path %>
      </div>
    </header>
  </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Add Your Drag Name</h4>
          </div>
          <%= simple_form_for Quote.new do |f| %>
            <div class="modal-body">
              <%= f.input :dragname, label: "What Drag Name would you like to add?", placeholder: "Lucy Change" %>
              <br />
              <%= f.input :author, label: "Who came up with the name?" %>
              <br />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= f.submit 'Create', class: 'btn btn-danger' %>
          <% end %>
          </div>
        </div>
      </div>
    </div>

    <hr />

    <br class="clear" />

    <div class="container">
      <% if flash[:error].present? %>
        <div class="col-10 offset-1 alert alert-danger">
          <%= flash[:error].html_safe %>
        </div>
      <% end %> 
    <%= yield %>
  </div>

  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6">
         <%= link_to "No, not this name. Have anymore?", root_path, class: 'next-name' %>
        </div>
        <div class="col-12 col-sm-6 footer-blurb">
          Prodly hacked in Kansas City, MO by <a href="http://thefirehoseproject.com">John Stahl</a><br />
          Want to build your own drag name app - <a href="http://thefirehoseproject.com">Learn how to code here</a>
        </div>
      </div>
    </div>
  </div>

  </body>
</html>
