<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row">
      <div class="col-3">
        <div class="dragpic">
          <img src="dragqueenvector.jpg">
        </div>
      </div>
      <div class="col-4 slogan">
        For men who need a womanly touch
      </div>
      <div class="col-5 links">
        <%= link_to 'Add a Name', '#' %>
        <%= link_to 'About', '#' %>
      </div>
    </header>

    <hr />

    <br class="clear" />

    <div class="container">
    <%= yield %>
  </div>

  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-6">
         <%= link_to "No, not this name. Have anymore?", "#", class: 'next-quote' %>
        </div>
        <div class="col-6 footer-blurb">
          Prodly hacked in Kansas City, MO by <a href="http://thefirehoseproject.com">John Stahl</a><br />
          Want to build your own drag name app - <a href="http://thefirehoseproject.com">Learn how to code here</a>
        </div>
      </div>
    </div>
  </div>

  </body>
</html>
